name: Frontend CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate public folder exists
        run: |
          test -d public
